.contTxtCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameCard {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.0015em;
  color: #201a1a;
}

.rolCard {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #201a1a;
}

.socialCard {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #201a1a;
}

.contSocial {
  display: flex;
}
