.contFooter {
  height: 608px;
  background-image: url("../assets/imgFoot.svg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.contTxtFoot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 175px;
  top: 150px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 64px;
  background: #201a1a;
  position: absolute;
  bottom: 0px;
}

.txtFooter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffe8cf;
}

.contSocial {
  display: flex;
  gap: 34px;
}

.btnFooter {
  margin-top: 30px;
  background: #a83f3f;
  border-radius: 100px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  width: 128px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: 0px;
  color: #f5d8b9;
}

.btnFooter:hover {
  opacity: 0.8;
}

.imgIcon {
  display: none;
}

@media only screen and (max-width: 766px) {
  .contFooter {
    background-image: url("../assets/imgMobileFoot.svg");
    position: relative;
  }

  .contTxtFoot {
    padding-top: 80px;
    padding-right: 40px;
    width: 70%;
    position: initial;
    align-items: flex-end;
  }

  .txtFooter {
    text-align: end;
    font-size: 20px;
  }

  .imgIcon {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 130px;
    height: 200px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 967px) {
  /* .contFooter {
    background-image: url("../assets/imgMobileFoot.svg");
  } */

  .contTxtFoot {
    /* padding-top: 80px; */
    /* width: 100%; */
    /* position: initial; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    /* border: 1px solid red; */
    right: 50px;
    top: 100px;
  }

  .txtFooter {
    text-align: center;
    font-size: 20px;
  }
}


@media only screen and (max-width: 480px) and (max-height: 750px) {
  .contTxtFoot{
    width: 75%;
    padding-right: 20px;
  }
}