.contFunc {
  background: #ffe8cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.contTitle {
  margin-top: 200px;
}

.titleFunc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #201a1a;
}

.conSection {
  display: flex;
  gap: 71px;
  z-index: 10;
}

.contItems {
  width: 313px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.iconFunc {
  width: 120px;
  height: 120px;
}

.contTxt {
  width: 313px;
  display: flex;
}

.num {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #f5d8b9;
}

.txtItem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #f5d8b9;
}

.contAux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.wave {
  position: absolute;
  bottom: -20px;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .wave {
    display: none;
  }

  .conSection {
    flex-direction: column;
  }

  .txtItem,
  .num {
    color: #201a1a;
  }

  .titleFunc {
    font-size: 28px;
  }
}

@media only screen and (min-width: 766px) and (max-width: 966px) {
  .conSection {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .txtItem,
  .num {
    color: #201a1a;
  }

  .wave {
    display: none;
  }
}
